.about-title {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
}

.about-text {
  font-size: 1.8em;
  text-align: justify;
  margin-left: 20px;
  margin-top: 20px;
}

.send-email-text {
  font-family: 'Luckiest Guy', cursive;
}

.send-email-input {
  height: 50px;
  width: 50%;
  font-size: 2em;
  border-radius: 20px;
  margin-top: 10px;
}

.vantagens {
  border: 3px solid #000000;
  border-radius: 20px;
  padding-left: 10px;
}


@media screen and (max-width: 420px) {
  .about-text {
    font-size: 1.5em;
    text-align: center;
    margin: 3px;
  }
  .send-email-text {
    margin: 10px;
  }
  .send-email-input {
    width: 80%;
    margin-bottom: 10px;
  }
}
