.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.logo {
  margin-left: -250px;
  margin-top: -16px;
  height: 120px;
  width: 180px;
}

.App-intro {
  font-size: large;
}

.youtube-container {
  width: 100%;
}

.video-text-container {
  margin-top: 150px;
}

.pascoa-button {
  height: 50px;
  background-color: white;
  border-color: #2fbcb2;
  border-width: medium;
  border-radius: 20px;
  padding-top: 10px;
  margin-left: 10px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.33em;
  color: #EA2D34;
}

.pascoa-button:hover {
  background-color: #2fbcb2;
}

.side-text-container {
  margin-top: 10.2%;
  margin-bottom: 50px;
}

.image-container {
  background: url('../image-home.jpg') center no-repeat;
  height: 700px;
  width: auto;
  background-size: cover;
  font-family: 'Luckiest Guy', cursive;
}

.overlay-text {
  font-size: 5em;
  float: left;
  color: #EA2D34;
  margin-top: 620px;
  margin-left: 35px;
}

.description-text {
  font-size: 2.2em;
  text-align: center;
  margin: 40px;
}

.side-text-title {
  margin-top: 15%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
