.countdown-container {
  margin-left: 180px;
  display: flex;
  font-size: 0.8em;
}

.square {
  background-color: #3F1403;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  margin: 1px;
  color: #FFF;
}

.count-text {
  margin-left: -5px;
}

.count-numbers {
  font-size: 3em;
}

@media screen and (max-width: 420px) {

  .countdown-container {
    display: flex;
    margin-left: 0px;
  }

  .count-numbers {
    font-size: 3.2em;
  }


  .square {
    padding-left: 10px;
    padding-right: 5px;
  }


}

@media screen and (max-width: 360px) {

  .countdown-container {
    display: flex;
    margin-left: 0px;
  }

  .count-numbers {
    font-size: 2.4em;
  }

  .square {
    padding-left: 10px;
    padding-right: 5px;
  }
}
