.footer {
  margin-top: 10px;
  width: 100%;
  height: 80px;
  background-color: #3F1403;
  display: inline-flex;
}

.ais {
  vertical-align: middle;
  margin-left: 30px;
  float: left;
  padding-top: 30px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.4em;
}

.ais-logo {
  margin-top: -12px;
  width: 80px;
  height: 40px;
}

a {
  color: white;
}

@media screen and (max-width: 3600px) {

  .ais {
    margin-left: 10px;
  }

}
