.appstore {
  margin: 0;
  width: 197px;
  height: 62px;
  padding-right: 20px;
}

.playstore {
  margin: 0;
  width: 197px;
  height: 62px;
  padding-left: 20px;
}

@media screen and (max-width: 420px) {

  .appstore {
    padding-right: 0;
  }

  .playstore {
    padding-left: 0;
  }
}
